/*Index => Scroll smooth sur toute la page, incompatible IE et safari => prévoir des médias
@TO-DO : smooth scroll pour IE/Safari/Mobiles*/

@font-face{
    font-family: Zilla Slab;
    src: local("ZillaSlab-Regular"),url("../assets/fonts/zilla_slab/ZillaSlab-Regular.otf") format("opentype");
}

body{
    scroll-behavior: smooth;
    font-family: "Zilla Slab", "Helvetica Neue", Fallback, sans-serif !important;
    font-size: 1.4em !important;
}

/*Index => navbar*/

#navbar{
    /*top: 0;*/
    /*position: fixed;*/
    /*width: 100vw;*/
    /*background-color: chartreuse;*/
    /*z-index: 10000;*/
    /*text-align: center;*/
}

#navbar a{
    padding-right: 1rem;
}


/*Index => style des parties principales*/

/* Enlève l'espaces entre les différentes parties du site, à enlever si on retire les <p> en haut des div */
.container p {
    margin: 0;
}

#carousel{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    margin: auto;
}

#virtual_visit{
    width: 100%;
    height: 100vh;
    background-color: brown;
}

#models{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

/*FOOTER*/
#footer {
    background-color: #182c39;
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#footer .row {
    margin: 0 85px;
}

#footer .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#footer .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#footer .container {
    width: auto;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#footer a {
    color: #d2d1d1;
    text-decoration: none;
}

#footer a:hover,
#footer a:focus {
    text-decoration: none;
    color: white;
}

#footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#footer .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#footer .fa-facebook:hover {
    color: #2b55ff;
}

#footer .fa-facebook:focus {
    color: #2b55ff;
}

#footer .fa-google-plus:hover {
    color: red;
}

#footer .fa-google-plus:focus {
    color: red;
}

#footer .fa-twitter:hover {
    color: #00aced;
}

#footer .fa-twitter:focus {
    color: #00aced;
}

